# Uvicorn and some of its optional dependencies
uvicorn==0.22.0
httptools>=0.5.0; platform_machine != 'armv7l'
uvloop>=0.14.0,!=0.15.0,!=0.15.1; platform_machine != 'armv7l' and sys_platform != 'win32' and (sys_platform != 'cygwin' and platform_python_implementation != 'PyPy')

fastapi==0.95.0
SQLAlchemy[asyncio,aiomysql,postgresql_asyncpg,aiosqlite]==2.0.15
pydantic==1.10.7
platformdirs==3.2.0
alembic==1.11.1
scheduler==0.8.4

# CockroachDB support
sqlalchemy-cockroachdb==2.0.1
asyncpg==0.27.0
psycopg2-binary==2.9.6
