.spool-icon {
  display: flex;
  flex-direction: column;
  width: 1.5em;
  height: 2.5em;
  gap: 2px;
  margin: 0 0.5em;
}

.spool-icon * {
  flex: 1 1 0px;
  border-radius: 2px;
}

.spool-icon *:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.spool-icon *:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
